#resume {
  width: 60vw;
  height: 60vh;
  border: 1px solid black;
  margin-bottom: 2vh;
}
#resume-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
