
.no-display{
  display: none;
}
.yes-display{
  display: flex
}
button {
  margin-top: 1vh;
}
#hobbie-div {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 1vh;
}
#about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hobbie {
  display: flex;
  align-items: space-between;
  justify-content: center;
}


.hobbie img {
  width: 30vh;
}

#about-img {
  float: left;
  height: 35vh;
  margin: 2px;
}
#about-div {
  margin-left: 12vw;
  margin-right: 12vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#about-info {
  margin: 1vw;
  text-align: left;
}
