video{
    width: 40vw;
    height: auto;
}
#projects-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
ul{
    list-style: none;
}
#portfolio-img{
    border: 1px solid black;
    width: 40vw;
    height: auto;
}