* {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  width: 16vw;
  font-size: 1.3em;
}
#home-link {
  height: 60vh;
}

#project-div {
  width: 16vw;
  height: 100vh;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
}
#project-div h1 {
  writing-mode: vertical-lr;
  font-size: 8vh;
  height: 100vh;
  text-align: center;
  font-weight: 100;
  margin: auto;
}
footer {
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  margin-top: 3vh;
  border: 1px solid black;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #ff5e57;
  font-weight: bold;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
.hide{
  display:none;
}
.show{
  display: block;
}